<script setup lang="ts">
import { useMessageStore } from '@/stores/message'

const messageStore = useMessageStore()
</script>

<template>
  <div class="text-center">
    <!-- <v-btn color="red-darken-2" @click="messageStore.snackbar = true"> Open Snackbar </v-btn> -->

    <v-snackbar v-model="messageStore.snackbar" multi-line>
      {{ messageStore.text }}

      <template v-slot:actions>
        <v-btn color="red" variant="text" @click="messageStore.snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
export default {
  data: () => ({
    snackbar: false,
    text: `I am a multi-line snackbar.\nI can have more than one line. This is another line that is quite long.`
  })
}
</script>
